.agenda-container {
    background-image: url('../resources/SVG/Desktop/sec2/BG_S2.svg');
    align-items: center;
    background-color: #002e72;
    padding: 200px 0; 
    background-size: contain;
    background-position: right;
}

.agenda > h1 {
    margin-bottom: 20px;
    color: #FFF200;
    margin-top: 0px;
}

.agenda > h2 {
    font-size: 30px;
    text-align: center;
}

.agenda > h3 {
    font-size: 18px;
    text-align: center;
}

.agenda > button {
    background-color: #00B6F8ff;
}

