.experts-container{
    background-image: url('../resources/SVG/Desktop/sec3/BG_S3.svg');
    align-items: center;
    justify-content: end;
}

.experts-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 80%;
}


.experts-info > p{
    min-width: 678px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.experts-grid{
    height: 50%;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 130px;
    grid-template-areas: 
    "first second"
    "third fourth"
    ;
    gap: 10px; /* Espacio entre celdas */
}

.expert{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 100%;
}

.expert-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.expert-container > img{
    width: 500px;
    height: auto;
}


@media (max-width: 1100px) {
    .experts-grid{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 70%;
    }

    .expert{
        height: 15%;
        width: 100%;
    }

    .expert-container > img{
        width: 400px;
        height: auto;
    }
}
