.experts-container {
    background-image: url('../resources/SVG/Desktop/sec3/BG_S3.svg');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #00b6f8;
    padding-top: 200px;
}

.experts-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}


.experts-info > h1 {
    margin: 40px 0;
}

.experts-info > p {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.experts-grid {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 130px);
}

.expert {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 100%;
}

.expert-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.expert-container > img {
    width: 360px;
    height: auto;
}

@media screen and (min-width: 600px) {
    .experts-container {
        background-image: none;
        padding-top: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .experts-container {
        position: relative;
    }

    .experts-info {
        max-width: 500px;
    }

    .experts-grid {
        grid-template-columns: 1fr 1fr;
    }

    .experts-container::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('../resources/SVG/Desktop/sec3/left.svg');
        width: 300px;
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
    }

    .experts-container::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-image: url('../resources/SVG/Desktop/sec3/right.svg');
        width: 300px;
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
    }
}

@media screen and (min-width: 1600px) {
    .experts-container::before {
       width: 500px;
        height: 900px;
   }

    .experts-container::after {
        width: 500px;
        height: 900px;
    }
}







