.main-section > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('../resources/SVG/Desktop/sec1/BG_S1.svg'); 
    background-color: #006be3;
    background-position: bottom;
    padding-bottom: 450px;
    position: relative;
    overflow: hidden;
}

.main-section > section > img {
    width: 266px;
    height: auto;
}

.main-section > section > .img-left,
.main-section > section > .img-right {
    position: absolute;
    bottom: 0;
    height: auto;
}

.main-section > section > .img-left {
    width: 300px;
    left: 0;
}

.main-section > section > .img-right {
    width: 400px;
    right: -80px;
}

.main-section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.main-section-info > button {
    align-items: center;
    background-color: #002E72;
    color: white;
    width: 188px;
    height: 38px;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 900;
    transition: all 0.3s ease;

    position: relative;
    z-index: 1;
}

.main-section-info > button:hover {
    background-color: #FFF200; /* Cambia el color */
    transform: scale(1.7); /* Aumenta el tamaño del botón */
    color: #002E72;
    margin-bottom: 15px; /* Aumenta el margen superior */
}

