.main-container{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url('../resources/SVG/Desktop/sec1/BG_S1.svg'); 
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.main-content > img{
    width: 266px;
    height: auto;
}

.main-section-info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-info > h1{
    
}

.main-section-info > p{
    
}

.main-section-info > button{
    margin-bottom: 40px;
    align-items: center;
    background-color: #002E72;
    width: 188px;
    height: 38px;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 900;
}

.img-container{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img-container > img{
    width: auto;
    height: 80%;
}