.roles-container {
    flex-direction: column;
    background-image: url('../resources/SVG/Desktop/sec4/BG_S4.svg');
}

.roles-info {
    padding: 0 20px;
    width: 100%;
    overflow-x: hidden;
}

.roles-info h1 {
    margin: 30px 0;
}

.characters-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.characters-row > img{
    width: 150px;
    height: auto;
}

/*slider*/
.card-slider{
    margin-top: 20px;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    margin-bottom: 100px;
}

.container > .card{
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.container > .card.active {
    display: flex; /* Muestra la imagen actual */
    align-items: center;
    justify-content: center;
    opacity: 1; /* La imagen es completamente visible */
}

.card > img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.card-slider > .button{
    margin-top: 50%;
}

.next, .prev{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-right: 30px solid rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}

.next{
    border-right: none;
    border-left: 30px solid rgb(255, 255, 255);
}

@media screen and (min-width: 1280px) {
    .roles-info {
        width: 600px;
        margin: 80px 0;
    }
}

