@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat";
    overflow: hidden;
    color: aliceblue;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

/*general settings*/
.scroll-container, .section{
    height: 100vh;
    margin: 0 auto;
}

.scroll-container{
    overflow: auto;

    -webkit-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
          scroll-snap-type: y mandatory;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    scroll-snap-align: start;
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Gasoek One';
    font-weight: 400;
    font-size: 5vw;
    line-height: 1;	
    text-shadow: 6px 6px 6px rgba(0,50,0,0);
    text-align: center;
    text-shadow: 0px 11px 0px #340A91;
}

p {
    font-size: 1.2vw;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}

/*Navbar*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 7%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #002E72;
    z-index: 1000; 
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.navbar img {
    width: auto;
    height: 100%;
}

.navbar li {
    display: inline;
}

.navbar a {
    font-size: 12px;
    font-weight: 900;
    width: 139px;
    border-radius: 25px;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.navbar a:hover {
    background-color: #FFF200;
    color: #002E72;
    border-style: solid;
    border-color: #FFF200;
}

.scroll-container {
    margin-top: 60px;
}

