.workshops-container{
    background-image: url('../resources/SVG/Desktop/sec2/BG_S2.svg');
}

.workshops-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    width: 90%;
}


.workshops-info > p{
    width: 60%;
    font-weight: 400;
}


/* Diseño base para pantallas grandes */
.workshop-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas fluidas */
    grid-gap: 20px; /* Espacio entre elementos */
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.grid-item > p {
    text-align: center;
    font-weight: 400;
    width: 100%;
    font-size: 16px;
}

.grid-img {
    width: 130px;
    height: 130px;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 1480px) {
    .workshop-grid{
        width: 100%;
    }   
}

@media (max-width: 1050px) {
    .workshops-info{
        width: 100%;
    }

    .workshop-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Columnas fluidas */
        grid-gap: 20px; /* Espacio entre elementos */
    }

    .workshops-info > p {
        font-size: 16px;
        width: 100%;
    }

    .grid-item > p {
        font-size: 14px;
    }

    .grid-img {
        width: 100px; /* Ajusta el tamaño de la imagen */
        height: 100px;
    }
}

@media (max-width: 600px) {

    .workshops-info{
        width: 90%;
    }

    .workshop-grid{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-img {
        width: 80px; /* Ajusta el tamaño de la imagen para pantallas muy pequeñas */
        height: 80px;
    }
}
