.workshops-container{
    background-image: url('../resources/SVG/Desktop/sec2/BG_S2.svg');
}

.workshops-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    width: 60%;
}

h3{
    font-size: 2vw;
    text-align: center;
    margin: 0px;
}

.workshops-info > h1{
    
}

.workshops-info > p{
    width: 100%;
    font-size: 1vw;
}


.workshop-grid{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.grid-item > p{
    text-align: center;
    font-weight: 400;
    font-size: 1vw;
}

.grid-img{
    width: 130px;
    height: 130px;
}

.grid-img > img{
    max-width: 100%;
    max-height: 100%;
}